<!-- <div>
  <app-test [userName]="'Gino'" (oggi)="oggi($event)"></app-test>
</div>

<br><br>
<br><br>
<br><br> -->
<div id="big-box">
  <div id="tv-box">
    <div class="tv-part tv-border" id="header">
      <p>{{playerName()}}</p>
    </div>
    <div class="tv-part" id="body">
      <div class="body-part tv-border" id="border-left"></div>
      <div class="body-part" id="screen">
        <router-outlet></router-outlet>
      </div>
      <div class="body-part" id="channel">
        <app-channel *ngIf="!isGuest() && isLobby()"></app-channel>
        <app-room-commands *ngIf="!isGuest() && !isLobby()"></app-room-commands>
      </div>
      <div class="body-part tv-border" id="border-rigth"></div>
    </div>
    <div class="tv-part tv-border" id="footer"></div>
  </div>
</div>

<app-dialog id='testDialog'>
  <p>test Dialog</p>
</app-dialog>