<div id="big-box">
  <div id="tv-box">
    <div class="tv-part tv-border" id="header">
      <p>{{playerName()}}</p>
    </div>
    <div class="tv-part" id="body">
      <div class="body-part tv-border" id="border-left"></div>
      <div class="body-part" id="screen">
        <router-outlet></router-outlet>
      </div>
      <div class="body-part" id="channel">
        <app-channel *ngIf="!isGuest() && isLobby()"></app-channel>
        <app-room-commands *ngIf="!isGuest() && !isLobby()"></app-room-commands>
      </div>
      <div class="body-part tv-border" id="border-rigth"></div>
    </div>
    <div class="tv-part tv-border" id="footer"></div>
  </div>
</div>

<app-dialog id='infoDialog' #globalInfoDialog>
  <h1>{{(globalInfoDialog.options?.title || "Attenzione")}}</h1>
  <p>{{globalInfoDialog.options?.message || "[no message given]"}}</p>
</app-dialog>

<app-dialog id="warningDialog" #globalWarningDialog>
  <h1>{{(globalWarningDialog.options?.title || "Attenzione!!")}}</h1>
  <p>{{globalWarningDialog.options?.message || "[no message given]"}}</p>
</app-dialog>

<app-dialog id="errorDialog" #globalErrorDialog>
  <h1>{{(globalErrorDialog.options?.title || "Errore!")}}</h1>
  <p>{{globalErrorDialog.options?.message || "[no message given]"}}</p>
</app-dialog>

<app-dialog id="askDialog" #globalAskDialog>
  <h1>{{globalAskDialog.options?.title || "Confermi?"}}</h1>
  <p>{{globalAskDialog.options?.message || "[no message given]"}}</p>
  <div class="button-box">
    <button (click)="globalAskDialog.close(true)">Si</button>
    <button (click)="globalAskDialog.close(false)">No</button>
  </div>
</app-dialog>